.error-div {
    display: flex;
    flex-flow: column;
    /* border: 2px solid yellow; */
    padding-bottom: 10px;
}

p.error-p {
    color: rgb(254, 97, 97);
    font-size: 14px;
    /* margin-bottom: 12px; */
}
