@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.open-channel-update-modal-button{
    color:rgb(215, 215, 215);
    border:2px solid transparent;
    font-family: "Roboto Mono";
    border-radius: 6px;
    font-size: 12px;
    padding:2px 4px;
    margin-right:4px;
    background-color: rgb(72, 72, 72);
}
