@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


.feed-item-wrapper{
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin:10px 0;
    width:260px;
    font-family: "Roboto Mono";
    padding:5px;
    background: rgb(50, 50, 50);
    border-radius: 10px;
}

.feed-item-name-wrapper{
    display:flex;
    align-items: center;
}

.feed-item-wrapper img{
    width:30px;
    border-radius: 10px;
    height:30px;
    margin-right:10px;
    object-fit: contain;
    background-color: black;
}

.feed-item-wrapper  p {
    font-size: 12px;
    margin-left:10px;
}
